{% extends 'dashboard/base.html' %}
{% block title %}
{{ block.super }}
مدیریت مخاطبین
{% endblock %}

{% load dashboard_tag %}
{% load static %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
<h1><i class="fa fa-address-book-o"></i> مخاطبین</h1>
<p>ثبت و مدیریت مخاطبین</p>

{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-6">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">بارگزاری مخاطبین جدید</h3>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="tile-body">
                    <div class="form-group">
                        <label class="control-label">انتخاب برچسب</label>
                        <select class="form-control select-tag" name="tags" multiple>
                            <optgroup label="انتخاب کنید">
                            </optgroup>
                        </select>
                    </div>
                    <!-- <div class="dropzone text-center">
                        <div class="dz-message">فایل خود را اینجا رها کنید<br><small class="text-info">(پسوند های مجاز: csv)</small></div>
                    </div> -->
                    <input class="form-control" type="file" name="file">
                    <a href="/{{csv_sample}}">دریافت نمونه</a>
                </div>
                <div class="tile-footer">
                    <button class="btn btn-primary" type="submit"><i
                            class="fa fa-fw fa-lg fa-check-circle"></i>بارگزاری</button>&nbsp;&nbsp;&nbsp;
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">اضافه کردن مخاطب (دستی)</h3>
                <!-- <p><a class="btn btn-primary icon-btn" href="#"><i class="fa fa-plus"></i>فیلد </a></p> -->
            </div>
            <form id="addContactForm">
                <div class="tile-body">
                    <div class="form-group">
                        <label class="control-label">انتخاب برچسب</label>
                        <select class="form-control select-tag" name="tags" multiple>
                            <optgroup label="انتخاب کنید">
                            </optgroup>
                        </select>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">نام</label>
                            <input class="form-control" type="text" name="first_name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">نام خانوادگی</label>
                            <input class="form-control" type="text" name="last_name" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">تلفن همراه</label>
                        <input class="form-control mobile-check" type="text" maxlength="11" name="phone" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">ایمیل</label>
                        <input class="form-control" type="email" name="email">
                    </div>
                    <!--
                <div class="form-group">
                    <label class="control-label">تلگرام</label>
                    <input class="form-control" type="text" >
                </div> -->
                </div>
                <div class="tile-footer">
                    <button class="btn btn-primary" type="submit" id="addContact"><i
                            class="fa fa-fw fa-lg fa-check-circle"></i>ثبت</button>&nbsp;&nbsp;&nbsp;
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-12">
        <div class="tile">
          <div class="tile-body">
            <div class="table-responsive">
              <table class="table table-hover table-bordered" id="contactTable" style="width: 100;">
                <thead>
                    <tr>
                        <th>نام</th>
                        <th>نام خانوادگی</th>
                        <th>تاریخ ایجاد</th>
                        <th>برچسب ها</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <table>
                </table>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}
{% block extra_js%}
<script type="text/javascript" src="{% static 'dashboard/js/plugins/sweetalert.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/utility.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/dropzone.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/persian-datatable.js' %}"></script>
<script>
    var csrf_token = 'csrfmiddlewaretoken={{csrf_token}}'
    var table = null
    $(() => {
        $('.select-tag').select2({
            ajax: {
                url: "{% url 'ajax_tag_get_all_select2' %}",
                type: "post",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        query: params.term
                    };
                },
                processResults: function (response) {
                    return {
                        results: response.data
                    };
                },
                cache: true,
            },
            dir: "rtl",
            language: {
                noResults: () => {
                    return "موردی یافت نشد!";
                }
            },
        });

        table = $('#contactTable').DataTable({
            paging: true,
            pageLength: 10,
            searching: true,
            fixedColumns: true,
            serverSide: true,
            ajax: {
                url: "{% url 'ajax_contact_get_all' %}",
                data: (d) => {
                    data = new URLSearchParams({
                        start: d.start,
                        length: d.length,
                        search: d.search.value,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    }).toString()
                    return data
                },
                type: 'POST',
            },
            columns: [
                {
                    data: 'firstName',
                },
                {
                    data: 'lastName',
                },
                {
                    data: 'created',
                    render: (date) => {
                        return new Date(date).toLocaleDateString('fa-IR');
                    }
                },
                {
                    data: 'tags'
                },
                {
                    data: 'id',
                    render: (data) => {
                        return `<a href="#" onclick="deleteContact(\'${data}\')" >حذف</a>`
                    }
                }
            ],
            language: datatablePersianLang,
        });
        
        $('#addContactForm').submit(event => {
            event.preventDefault()
            let formObject = formToObject(event.target)
            formObject.tags = $(event.target).find('select[name=tags]').val()
            $.ajax({
                type: 'POST',
                url: "{% url 'ajax_contact_add' %}",
                headers: { 'X-CSRFToken': '{{csrf_token}}' },
                data: JSON.stringify(formObject),
                dataType: 'json',
                contentType: 'application/json'
            }).done(data => {
                $(event.target).trigger('reset')
                table.ajax.reload();
            }).fail(errors => {
                alert('fail')
            })
        })
    })

    function deleteContact(id) {
            $.ajax({
                method: 'POST',
                url: "{% url 'ajax_contact_remove' ' '%}"+id,
                data: csrf_token
            }).done(data=>{
                table.ajax.reload();
            }).fail(error=>{
                table.ajax.reload();
            })
        }
    
    function formToObject(form){
        let data = $(form).serializeArray()
        let formObject = {}

        for (let index = 0; index < data.length; index++) {
            formObject[data[index].name] = data[index].value
        }

        return formObject
    }
</script>
{% endblock %}