{% extends 'dashboard/base.html' %}
{% block title %}
{{ block.super }}
ایجاد دعوت نامه
{% endblock %}

{% load dashboard_tag %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'dashboard/css/persian-datepicker.min.css' %}">
<style>
    *,
    body {
        font-family: Vazir;
    }
</style>
{% endblock %}

{% block page_title %}
<h1><i class="fa fa-envelope "></i> دعوت نامه</h1>
<p>ایجاد و زمان بندی دعوت نامه</p>

{% endblock %}

{% block main %}
<div class="row">
    <!-- <div class="col-md-6">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">انتخاب دسته بندی</h3>
            </div>
            <div class="tile-body">
                <select class="form-control select2">
                    <optgroup label="Select Cities">
                        <option>Ahmedabad</option>
                        <option>Surat</option>
                        <option>Vadodara</option>
                        <option>Rajkot</option>
                        <option>Bhavnagar</option>
                        <option>Jamnagar</option>
                        <option>Gandhinagar</option>
                        <option>Nadiad</option>
                        <option>Morvi</option>
                        <option>Surendranagar</option>
                        <option>Junagadh</option>
                        <option>Gandhidham</option>
                        <option>Veraval</option>
                        <option>Ghatlodiya</option>
                        <option>Bharuch</option>
                        <option>Anand</option>
                        <option>Porbandar</option>
                        <option>Godhra</option>
                        <option>Navsari</option>
                        <option>Dahod</option>
                        <option>Botad</option>
                        <option>Kapadwanj</option>
                    </optgroup>
                </select>
            </div>
        </div>
    </div> -->
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">انتخاب قالب</h3>
            </div>
            <div class="tile-body">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">اطلاعات دعوت نامه</h3>
            </div>
            <div class="tile-body">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="title">عنوان</label>
                        <input class="form-control" id="title" type="text">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="date">تاریخ</label>
                        <input class="form-control invite-date persian-date">
                        <input type="hidden" name="invite_date" id="invite-date-alt">

                    </div>
                    <div class="form-group col-md-6">
                        <label for="address">آدرس</label>
                        <input class="form-control" id="address" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">مهمانان</h3>
            </div>
            <div class="tile-body">
                <div class="toggle lg">
                    <label>
                        <input type="checkbox" ‌checked>براساس برچسب<span class="button-indecator"></span>
                    </label>
                </div>
                <select class="form-control select-tag" id="select-tag" name="test" multiple>
                    <optgroup label="انتخاب کنید">
                    </optgroup>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">تنظیمات ارسال</h3>
            </div>
            <div class="tile-body">
                <div class="toggle lg">
                    <div class="align-middle"> ارسال بصورت زمان بندی شده</div>
                    <label>
                        <input type="checkbox" class="scheduler-send persian-date" ‌checked><span class="button-indecator"></span>
                        <input type="hidden" name="scheduler_send" id="scheduler-send-date-alt">
                    </label>
                    <input class="form-control scheduler-send-date col-md-4">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
    <button class="btn btn-primary col-md-4">نهایی سازی</button>
    <div class="col-md-4"></div>
</div>
{% endblock %}
{% block extra_js%}
<script type="text/javascript" src="{% static 'dashboard/js/plugins/sweetalert.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/utility.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/dropzone.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/persian-datatable.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/persian-date.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/persian-datepicker.min.js' %}"></script>
<script>
    $(() => {
        $('#select-tag').select2({
            ajax: {
                url: "{% url 'ajax_tag_get_all_select2' %}",
                type: "post",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        query: params.term
                    };
                },
                processResults: function (response) {
                    return {
                        results: response.data
                    };
                },
                cache: true,
            },
            dir: "rtl",
            language: {
                noResults: () => {
                    return "موردی یافت نشد!";
                }
            },
        });

        $('.invite-date').persianDatepicker({
            observer: true,
            format: 'YYYY/MM/DD',
            altField: '#invite-date-alt'
        });

        $('.scheduler-send-date').persianDatepicker({
            observer: true,
            format: 'YYYY/MM/DD - HH:mm',
            altField: '#scheduler-send-date-alt',
            timePicker: {
                enabled: true,
                meridiem: {
                    enabled: true
                }
            }

        });

        $('.scheduler-send').change(event => {
            let isChecked = $(event.target).is(":checked")
            $('.scheduler-send-date').css('display', (isChecked) ? 'block' : 'none')
        })
    })
</script>
{% endblock %}