{% extends 'dashboard/base.html' %}
{% block title %}
{{ block.super }}
ایجاد دعوت نامه
{% endblock %}

{% load dashboard_tag %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'dashboard/css/persian-datepicker.min.css' %}">
<style>
    *,
    body {
        font-family: Vazir;
    }

    /* HIDE RADIO */
    [type=radio] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* IMAGE STYLES */
    [type=radio]+img {
        cursor: pointer;
    }

    /* CHECKED STYLES */
    [type=radio]:checked+img {
        outline: 2px solid #f00;
    }
</style>
{% endblock %}

{% block page_title %}
<h1><i class="fa fa-envelope "></i> دعوت نامه</h1>
<p>ایجاد و زمان بندی دعوت نامه</p>

{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">انتخاب قالب</h3>
            </div>
            <div class="tile-body">
                {% for template in tempaltes %}
                    {% if template.thumbnail %}
                    <label>
                        <input type="radio" name="template" value="template_{{template.id}}">
                        <img src="{{template.thumbnail.url}}" name="template_{{template.id}}" width="150px" height="150px" class="mr-5">
                    </label>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-12">
        {% for template in tempaltes %}
        <div class="tile" style="display:none" data-template="template_{{template.id}}">
            <div class="tile-title-w-btn">
                <h3 class="title">اطلاعات دعوت نامه</h3>
            </div>
            <div class="tile-body">
            <form>
                <div class="form-row">
                {% for field in template.schema.fields %}
                    {% if field.field_type == 'str' %}
                        <div class="form-group col-md-4">
                            <label for="title">{{field.title}}</label>
                            <input class="form-control" name="{{field.name}}" id="title" type="text">
                        </div>
                    {% elif field.field_type == 'int' %}
                        {# TODO fill it #}
                    {% elif field.field_type == 'date' %}
                        <div class="form-group col-md-4">
                            <label for="title">{{field.title}}</label>
                            <input class="form-control invite-date persian-date">
                            <input type="hidden" name="invite_date" id="invite-date-alt">
                        </div>
                    {% elif field.field_type == 'datetime' %}
                        {# TODO fill it #}
                    {% elif field.field_type == 'location' %}
                        <div class="form-group col-md-4">
                            <label for="title">{{field.title}}</label>
                            <input class="form-control" name="{{field.name}}" id="title" type="text">
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-6">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">مهمانان</h3>
            </div>
            <div class="tile-body">
                <div class="toggle lg">
                    <label>
                        <input type="checkbox" ‌checked>براساس برچسب<span class="button-indecator"></span>
                    </label>
                </div>
                <select class="form-control select-tag" id="select-tag" multiple>
                    <optgroup label="انتخاب کنید">
                    </optgroup>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">تنظیمات ارسال</h3>
            </div>
            <div class="tile-body">
                <div class="toggle lg">
                    <div class="align-middle"> ارسال بصورت زمان بندی شده</div>
                    <label>
                        <input type="checkbox" class="scheduler-send persian-date" ‌checked><span class="button-indecator"></span>
                        <input type="hidden" name="scheduler_send" id="scheduler-send-date-alt">
                    </label>
                    <input class="form-control scheduler-send-date col-md-4" style="display: none;">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
    <button class="btn btn-primary col-md-4">نهایی سازی</button>
    <div class="col-md-4"></div>
</div>
{% endblock %}
{% block extra_js%}
<script type="text/javascript" src="{% static 'dashboard/js/plugins/sweetalert.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/utility.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/dropzone.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/persian-datatable.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/persian-date.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/persian-datepicker.min.js' %}"></script>
<script>
    var URLS = {
        selectTagUrl: "{% url 'ajax_contact_get_all_select2' %}",
        allTag: "{% url 'ajax_tag_get_all_select2' %}",
        allContact: "{% url 'ajax_contact_get_all_select2' %}"
    }
    $(() => {
        $('#select-tag').select2({
            ajax: {
                url: () => {
                    return URLS.selectTagUrl
                },
                type: "post",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        query: params.term
                    };
                },
                processResults: function (response) {
                    return {
                        results: response.data
                    };
                },
                cache: true,
            },
            dir: "rtl",
            language: {
                noResults: () => {
                    return "موردی یافت نشد!";
                }
            },
        });

        $('.invite-date').persianDatepicker({
            observer: true,
            format: 'YYYY/MM/DD',
            altField: '#invite-date-alt'
        });

        $('.scheduler-send-date').persianDatepicker({
            observer: true,
            format: 'YYYY/MM/DD - HH:mm',
            altField: '#scheduler-send-date-alt',
            timePicker: {
                enabled: true,
                meridiem: {
                    enabled: true
                }
            }

        });

        $('.scheduler-send').change(event => {
            let isChecked = $(event.target).is(":checked")
            $('.scheduler-send-date').css('display', (isChecked) ? 'block' : 'none')
        })

        $('input[type=radio][name=template]').change(event => {
            let element = $(event.target)
            let templateInfoPanel = document.querySelectorAll(`[data-template='${element.attr('value')}']`)
            let AllTemplateInfoPanel = document.querySelectorAll('[data-template]')
            $(AllTemplateInfoPanel).hide()
            $(templateInfoPanel).show()
        })

        // reset radio buttons
        $('input[type=radio]').prop('checked', false);
        // reset radio checkbox
        $('input[type=checkbox]').prop('checked', false);

    })
</script>
{% endblock %}