{% extends 'dashboard/base.html' %}
{% block title %}
{{ block.super }}
تنظیمات
{% endblock %}

{% load dashboard_tag %}
{% load static %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
<h1><i class="fa fa-cogs"></i> تنظیمات</h1>
<p>تنظیمات، ایجاد و ویرایش تگ</p>

{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-5">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">ثبت برچسب</h3>
            </div>
            <form class="ajax-submit" action="{% url 'ajax_tag_add' %}" method="POST">
                {% csrf_token %}
                <div class="tile-body">
                    <div class="form-group">
                        <label class="control-label">نام</label>
                        <input class="form-control" type="text" name="name" maxlength="20">
                    </div>
                    <div class="form-group">
                        <label>توضیحات</label>
                        <textarea class="form-control" rows="3" name="description" maxlength="100"></textarea>
                    </div>
                </div>
                <div class="tile-footer">
                    <button class="btn btn-primary" type="submit"><i
                            class="fa fa-fw fa-lg fa-check-circle"></i>ثبت</button>&nbsp;&nbsp;&nbsp;
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <div class="tile">
            <div class="tile-title-w-btn float-left">
                <p><a class="btn btn-primary icon-btn" id="refresh-tag-table" href="#"><i
                            class="fa fa-refresh"></i>بروزرسانی</a>
                </p>
            </div>
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="tags-table" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>نام</th>
                                <th>توضیحات</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js%}
<script type="text/javascript" src="{% static 'dashboard/js/plugins/sweetalert.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/utility.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/dropzone.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/ persian-datatable.js' %}"></script>
<script>
    var CSRF_TOKEN = 'csrfmiddlewaretoken={{csrf_token}}'
</script>
<script>
    $(() => {
        $('.select2').select2();

        var tagTable = $('#tags-table').DataTable({
            paging: true,
            pageLength: 10,
            searching: true,
            fixedColumns: true,
            serverSide: true,
            ajax: {
                url: "{% url 'ajax_tag_get_all' %}",
                data: (d) => {
                    data = new URLSearchParams({
                        start: d.start,
                        length: d.length,
                        search: d.search.value,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    }).toString()
                    return data
                },
                type: 'POST',
            },
            columns: [
                {
                    data: 'Name',
                },
                {
                    data: 'Description',
                },
                {
                    data: 'Id',
                    className: 'text-center',
                    render: (id) => {
                        return `<a href="#" data-id="${id}" class="btn-danger btn-sm tag-delete">حذف</a>`
                        {% comment %}
                        return `<a href="#" data-id="${id}" class="btn-info btn-sm tag-edit">ویرایش</a>   
                                <a href="#" data-id="${id}" class="btn-danger btn-sm tag-delete">حذف</a>`
                        {% endcomment %}
                    }
                }
            ],
            language: datatablePersianLang,
        });

        $('#refresh-tag-table').click((e) => {
            tagTable.draw()
        })

        {% comment %}
        $('#tags-table').on('click', 'a.tag-edit', (e) => {
            e.preventDefault()
            let tag = $(e.target)
            let tagId = tag.attr('data-id')
            let url = "{% url '' %}"
            $.ajax({
                url: url,
                method: 'POST',
                data: CSRF_TOKEN
            }).done((data) => {

            }).fail((errors) => {

            })
        })
        {% endcomment %}

        $('#tags-table').on('click', 'a.tag-delete', (e) => {
            e.preventDefault()
            let tag = $(e.target)
            let tagId = tag.attr('data-id')
            let url = "{% url 'ajax_tag_remove' '0' %}" + tagId
            $.ajax({
                url: url,
                method: 'POST',
                data: CSRF_TOKEN
            }).done((data) => {
                swal({
                    title: "",
                    text: "عملیات با موفقیت انجام شد",
                    type: "success",
                    showCancelButton: false,
                    confirmButtonText: "ادامه",
                    closeOnConfirm: true,
                })
                tagTable.draw()
            }).fail((errors) => {

            })
        })
    })

    // var formError = {{errors|safe}}
    // showError(formError)
</script>
{% endblock %}