{% extends 'dashboard/base.html' %}
{% block title %}
{{ block.super }}
تراکنش های
{% endblock %}

{% load dashboard_tag %}
{% load static %}

{% block page_title %}
<h1><i class="fa fa-credit-card-alt"></i> تراکنش های انجام شده</h1>
<p>مشاهد و مدیریت</p>

{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'dashboard/css/persian-datepicker.min.css' %}">
<style>
    *,
    body {
        font-family: Vazir;
    }
</style>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">فیلترها</h3>
            </div>
            <div class="tile-body">
                <form action="" id="filterForm">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label class="control-label">از تاریخ</label>
                            <input class="form-control create-date" type="text" >
                            <input type="hidden" name="startDate" id="create-date-alt">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">تا تاریخ</label>
                            <input class="form-control transactions-date" type="text" >
                            <input type="hidden" name="endDate" id="transactions-date-alt">
                        </div>
                        <!-- <div class="form-group col-md-3">
                            <label class="control-label">وضعیت</label>
                            <input class="form-control" type="text" >
                        </div> -->
                    </div>
                </form>
            </div>
            <div class="tile-footer">
                <button class="btn btn-primary" type="button" id="formFilterSubmit"><i
                        class="fa fa-fw fa-lg fa-search"></i>جستجو</button>&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <table class="table table-hover table-bordered" id="transactions-table" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>تاریخ ایجاد</th>
                            <th>مبلغ</th>
                            <th>تاریخ ارسال به درگاه</th>
                            <th>شناسه پرداخت</th>
                            <th>کدپیگیری</th>
                            <th>وضعیت</th>
                            <th>توضیحات</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js%}
<script type="text/javascript" src="{% static 'dashboard/js/plugins/sweetalert.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/utility.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/dropzone.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/persian-datatable.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/persian-date.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/plugins/persian-datepicker.min.js' %}"></script>
<script>
    $(() => {

        $('.transactions-date').persianDatepicker({
            observer: true,
            format: 'YYYY/MM/DD',
            altField: '#transactions-date-alt'
        });
        
        $('.create-date').persianDatepicker({
            observer: true,
            format: 'YYYY/MM/DD',
            altField: '#create-date-alt'
        });

        var transactionsTable = $('#transactions-table').DataTable({
            paging: true,
            pageLength: 50,
            searching: true,
            fixedColumns: true,
            serverSide: true,
            ajax:{
                url: "{% url 'payment:ajax_invoice_get_all' %}",
                data: (data) => {
                    let formData = $('#filterForm').serialize()
                    data = new URLSearchParams({
                        start: data.start,
                        length: data.length,
                        search: data.search.value,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    }).toString()
                    return data + '&' + formData
                },
                type: 'POST'
            },
            columns: [
                {
                    data: 'createAt',
                    render: (date) => {
                        return new Date(date).toLocaleDateString('fa-IR')
                    }
                },
                {
                    data: 'amount'
                },
                {
                    data: 'shippingDate',
                    render: (date) => {
                        if(date == null)
                            return '<a href="#" class="sm pay-now">(هم اکنون پرداخت کنید)</a>'
                        return new Date(date).toLocaleDateString('fa-IR')
                    }
                },
                {
                    data: 'authority',
                    className: "authority"
                },
                {
                    data: 'referenceId'
                },
                {
                    data: 'status',
                    render: (status) => {
                        s = {
                            {% for choice in choices %}
                                {{choice.0}}: "{{choice.1}}",
                            {% endfor %}
                        }
                        return s[status]
                    }
                },
                {
                    data: 'description'
                }
            ],
            language: datatablePersianLang,
        })

        $('#formFilterSubmit').click(event => {
            transactionsTable.ajax.reload()
        })

        $('#transactions-table').on('click', 'a.pay-now', (e) => {
            let authority = $(e.target).parent().parent().find('.authority').html()
            window.location.href = "{% url 'payment:pay' '0' %}" + authority
        })

    })
</script>
{% endblock %}